/*When needing to test CSS code, do so through index.html
or other HTML pages. As CSS is only a supporting file for
HTML pages, it cannot be tested on its own.*/

* {
  box-sizing: border-box; /*bxbb Emmet*/
}

body {
  background-color: #eaeaea; /* bgc#eaeaea */ /*will be fallback color for browser that does not support bgi linear gradient*/
  /*bgi linear gradient*/
  color: #555; /*c#fff*/
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif; /*ffa used here */
}
#wrapper {
  /*wrapper not included in HTML file yet, so need to do so before this code will work. */
  background-color: #90c7e3; /*bgc#90c7e3*/
  background-image: linear-gradient(
    to bottom,
    #fff,
    #90c7e3
  ); /*bgi linear gradient - cwill display behind navigation area*/
  border: 1px solid #003; /*bd1-solid-#003*/
  box-shadow: 3px 3px 3px #333; /*bsh 3px 3px 3px #333*/ /*box shadow adds a shadow to the element, with the first three values specifying the horizontal offset, vertical offset, and blur radius of the shadow, and the fourth value specifying the color of the shadow.*/
  margin: auto;
  min-width: 960px; /* mw960 no px needed bc default unit is px*/
  max-width: 2048px; /* maw2048 */
  width: 80%; /* w80% */
}
header {
  background-color: #000032; /* bc#ffffff*/
  background-image: url(images/sunset.jpg); /*bgi shortcut*/
  background-position: right; /*bgdp*/
  background-repeat: no-repeat; /*bgr*/
  color: #fff; /*c#fff*/
  height: 60px; /*h60 - no px needed bc default unit is px*/
  padding-top: 15px; /*pt15 */
  text-align: center; /*tac */
}

header a {
  text-decoration: none; /*tdn*/
}
header a:link,
header a:visited {
  color: #fff; /*c#fff */
}
header a:hover {
  color: #90c7e3; /*c#90c7e3 */
}
nav {
  float: left; /*fl*/
  font-size: 120%; /*fz120%*/
  font-weight: bold; /*fwb*/
  padding: 1.5em; /*p1.5em*/
  width: 160px; /*w160 no px needed bc default unit is px*/
}

nav ul {
  list-style-type: none; /*lstnone - removes unordered list bullet points*/
  margin: 0; /*m0*/
  padding-left: 0; /*pl0*/
}

nav a {
  /* separate from nav element - to remove underline from hyperlinks*/
  text-decoration: none; /*txd*/
}
nav a:link {
  color: #5c7fa3; /*c#5c7fa3 - sets color of unvisited links*/
}
nav a:visited {
  color: #344873; /*c#344873 - sets color of visited links*/
}
nav a:hover {
  color: #a52a2a; /*c#a52a2a - sets color of links when hovered over with mouse*/
}
/*always code link psuedoclasses in following order:
link, visited, hover, active. (LV HA or "love-hate") prevents conflicts, ensures styles behave as wanted across browsers*/

main {
  background-color: #fff; /*bgc#fff means white background color for main element*/
  margin-left: 190px; /*ml190 no px needed bc default unit is px*/
  overflow: auto; /*ova -  put here for alphabetical order, unsure if needed*/
  padding: 1px 20px 20px 30px; /* top, right, bottom, left padding values respectively. */
}

section {
  float: left; /*fl*/
  padding-left: 2em; /*pl2em*/
  padding-right: 2em; /*pr2em*/
  width: 33%; /*w33% - sets the width of each section to 33% of its container */
}

h1 {
  letter-spacing: 0.25em; /*lts.25em - adds spacing between "Pacific Trails Resort" header*/
  margin-bottom: 0; /*typed mb0*/
  margin-top: 0; /*mt0*/
}

h1,
h2,
h3,
footer {
  font-family:
    Georgia,
    "Times New Roman",
    Times,
    Baskerville serif;
}

h2 {
  color: #1976d2;
  text-shadow: 1px 1px #ccc; /*txs then manually typed; 1px horizontal offset, and 1px vertical offset*/
}

h3 {
  color: #003; /*c#003*/
}

dt {
  color: #002171;
}

address {
  font-style: normal;
}

footer {
  background-color: #fff; /*bgc#fff*/
  font-size: 75%; /* fz75% */
  font-style: italic; /*fsi*/
  margin-left: 190px; /*ml190 no px needed bc default unit is px*/
  padding: 2em; /*p2em, configures empty space between element's content and border.*/
  text-align: center; /*txa */
}
.resort {
  /*class or id selectors like .resort should be below element selectors. */
  color: #1976d2; /*c#1976d2 */
  font-weight: bold; /*fwb */
}

#homehero,
#yurthero,
#trailhero {
  background-repeat: no-repeat; /*bgr*/
  background-size: cover; /*bgz cover - scales the background image to cover the entire element, while maintaining its aspect ratio. This means that the image will be resized to fill the entire area of the element, and any excess parts of the image will be cropped if necessary. */
  height: 18.75rem; /*using rem units so the height scale is consistently based on the root font size, helps with accessibility and responsive design. h18.75rem*/
  margin-left: 190px; /*ml190 no px needed bc default unit is px*/
}
/*selector for home hero next*/

#homehero {
  background-image: url(images/coast2.jpg); /*bgi shortcut*/
}
#yurthero {
  background-image: url(images/yurt.jpg); /*bgi shortcut*/
}
#trailhero {
  background-image: url(images/trail.jpg); /*bgi shortcut*/
}
